<style>
    .important {
        color: red;
    }
</style>
<div class="main" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <details open>
                <summary style="margin-bottom:10px;color: #69b4ee;font-weight: bold;cursor: pointer;">基础信息</summary>

                <form class="form-horizontal" name="form" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">网段信息<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input error-message-dir type="text" class="form-control"
                                    placeholder="请输入本次部署准备的网段信息"
                                    ng-model="formData.netSegment"
                                    ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                    name="netSegment" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">master宿主机IP<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input  error-message-dir type="text" class="form-control"
                                   placeholder="请输入master宿主机的Ip地址"
                                   ng-model="formData.ip_master"
                                   ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                   name="ip_master" required net-seg-or-not="formData.netSegment">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">salve宿主机IP<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input error-message-dir type="text" class="form-control"
                                   placeholder="请输入salve宿主机的Ip地址"
                                   ng-model="formData.ip_slave"
                                   ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                   name="ip_slave" required net-seg-or-not="formData.netSegment">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Beaver Server IP<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input error-message-dir type="text" class="form-control"
                                   placeholder="请输入Beaver Server的Ip地址"
                                   ng-model="formData.ip_beaver_server1"
                                   ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                   name="ip_beaver_server1" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Beaver Client IP<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input error-message-dir type="text" class="form-control"
                                   placeholder="请输入Beaver Client的Ip地址"
                                   ng-model="formData.ip_beaver_client1"
                                   ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                   name="ip_beaver_client1" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否安装ntp-server<span class="important">*</span></label>
                        <div class="col-sm-2">
                            <select class="form-control" name="install_ntp_server_orNot"  ng-model="formData.install_ntp_server_orNot">
                                <option value="yes">是</option>
                                <option value="no">否</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" ng-show="formData.install_ntp_server_orNot=='yes'">
                        <label class="col-sm-2 control-label">Ntp服务器Ip地址<span class="important">*</span></label>
                        <div class="col-sm-4">
                            <input error-message-dir  type="text" class="form-control"
                                   placeholder="请输入Ntp服务器Ip地址"
                                   ng-model="formData.ntp_server"
                                   ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"
                                   name="ntp_server" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-default pull-right" >重置
                            </button>
                            <button class="btn btn-primary pull-right" ng-click="addMonitor()" ng-disabled="form.$invalid" style="margin-right: 10px;">提交
                            </button>
                        </div>
                    </div>
                </form>
            </details>
        </div>
    </div>


</div>